{% extends 'base.html'%}

# imported form flask bootstrap allowing rendering of forms
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
{% for message in get_flashed_messages() %}
{{message}}
{% endfor%}
<h1 class="well" style="">Comments Section </h1>

<div class="container">
    <a href="#">..</a>
</div>
<div class="container" style="">
{{ wtf.quick_form(comment_form) }}
{% for comment in comments  %}
<div class="well">
<ul>{{comment.description}}</ul>
</div>
{% endfor %}
</div>
{% endblock%}
