{%extends 'base.html'%}

    {% block content%}
        <div class="container">
            <h1 style="text-align: center;">welcome to pitches</h1>
            <h3 style="text-align: center;">Select A  Category And Make A Pitch</h3>


            <br>
            <div class="row">
                <div class="col-md-4">
                    <div class="card"style="height:200px; text-align: centre;">
            <a href="{{url_for('main.business')}}"style=" align-content:center;margin-left;top:50px;"><strong>Bussiness Category</strong></a>
            </div>
                    </div>
                <div class="col-md-4">
                <div class="card"style="height:200px; text-align: centre;position:relative;">
            <a href="{{url_for('main.sales')}}"style="align-content:center;"><strong>Sales Category</strong></a>
                </div>
                </div>
                <div class="col-md-4">
                <div class="card"style="height:200px; text-align: centre;text-size: 50px;">
            <a href="{{url_for('main.interview')}}" style=" align-content:center;"><strong>Interview Category</strong></a>
            </div>
            </div>



    </div>
</div>
        {% endblock %}
